<div class="content-burger__list" id={{id}}>
    <img src="./images/lefteris-kallergis-581884-unsplash.jpg" alt="">
    <p>{{burger_name}}</p>
    <button class="btn btn-default favorites" data-id="{{id}}" data-state="{{is_favorite}}">
        {{#if is_favorite}} unfavorite {{else}} add to Favorite {{/if}}
    </button>
</div>